

.foot-sec{
    background-color:#071629;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.socials img{
    width: 40%;
    border: none;
}

.socials-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.foot-sec p{
    color: #fff;
    text-align: center;
    opacity: 35%;
    padding-bottom: 15px;
}