body {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}
body{
    background: linear-gradient(lightblue,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
aside{
    border-style: double;
}
header{
    border: 2px solid rgb(22, 18, 35);
    border-style:double
}
main{
    border: 1px solid black;   
     border-style: double;
}
table{
    width: 120%;
    border: 1px solid;
    font-family: sans-serif;
}
th, td{
    text-align: center;   
    border: 1px solid;
}
tr:hover{
    background-color: rgba(14, 11, 19, 0.26);
}
th,td {
    padding: 10px;
}
th{
    background-color: rgb(183, 32, 27);
}
h1,h2,h3,p{
    font-family: sans-serif;
    font-style: italic;
}
p{
    border: 2px solid;
    padding: 20px;
    border-radius: 15px    
}
p{
background-color: rgb(218, 161, 86);   
}